
.content{
    width:1500px;
    background-color:aliceblue;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}
.bio h1{
    padding:10px;
}
.bio p{
    font-size:24px;
    padding:6px;
    
}
.bio-photo{
    width:300px;
    height:300px;
    padding:15px;
    float:left;
}
.content h2{
    display: flex;
    justify-content: center;
    
}
.home-page-photo{
    width: 100%;
}
@media only screen and (max-width:1500px){
    .content{
        width:100%;
    }
}
@media only screen and (max-width:400px){
    .bio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bio h1{
        text-align:center;
    }
    .content h2{
        text-align: center;
    }
    .bio-photo{
        float:none;
    }
}
