.container img{
    width:100%;
    padding:0 10px 10px 10px;
}
.content h1,
.content p{
    display:flex;
    justify-content: center;
}
.content h1{
    margin:10px 0 0 0;
}
.content p{
    padding: 0 10px;
    font-size:20px;
}